@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#form{
	width:600px;
	height:600px;
	background-color:white;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -45%);
	-webkit-box-shadow: 4px 5px 25px 6px rgba(0,0,0,0.47); 
	box-shadow: 4px 5px 25px 6px rgba(0,0,0,0.47);
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

.input1{
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:1px solid black;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:70%;
  box-sizing: border-box;
  outline:0;

}

.input1:focus { border:1px solid #3598db; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}
[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 60%;
  background:#3598db;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:15px;
  font-weight:700;
}
[type="submit"]:hover { background:#a7c9ed; }